/* id of main game view. */
#divGame{
    justify-content: center;
    background-color: rgba(0, 139, 139, 0.552);
    font-size: 2rem;
    text-align: center;
    background: url(..//images/pexels-felix-mittermeier-956999.jpg) no-repeat center center/cover;

   
}
/* id of playerText main view. */
#playerText{
    color: rgb(152, 82, 82);
}
/* id of computerText main view. */

#computerText{
    color: rgb(221, 221, 236);
}
/* id of resultText main view. */

#resultText{
    color:lightsalmon
}

/* class of button of rock,paper,scissors.  */
.choiceBtn{
    cursor: pointer;
    transition: 100ms;
    text-align: center;
    font-size: 2rem;
    background-color: rgba(244, 165, 96, 0.648);
    

}

.choiceBtn:hover{
  transform:scale(1.2);
  cursor: pointer;
}
/* id of the rules of the game .*/
#rules{
    text-align: center;
    font-size: 1rem;
    background-color:rgba(58, 58, 255, 0.513);
    cursor: pointer;
    transition: 100ms;
    color: white;
}

#rules:hover{
    cursor: pointer;
    transform: scale(1.2);
}

/* class sectionCount of the counter.  */
.sectionCount{
    text-align: center;
    font-size: 50px;
    border-style: ridge;
    background-color: rgba(128, 0, 128, 0.462);
    cursor: pointer;
    transition: 100ms;
}

.sectionCount:hover{
    transform: scale(1.2);
}

  /* id countLabel counter. */
#countLabel{
    color: white;
}
/*  id decreaseBtn  of button decrease.  */
#decreaseBtn{
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
}
/*  id resetBtn  of button reset. */
#resetBtn{
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
}
/* id increaseBtn of button increase. */
#increaseBtn{
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.475);
    color: white;
}